heat_template_version: 2016-10-14
description: 3-tier App deployment

parameters:
  Management_net:
    type: string
    description: ID of MGMT network into which servers get deployed
    default: 0b1d611f-2c6a-49b5-9f89-be9f5f400bcd

  DataPlane_net:
    type: string
    description: ID of Data network into which servers get deployed
    default: cce02493-0a9d-46ab-a4b0-000c8d811306

  Mgmt_subnet:
    type: string
    description: Subnet used by the server
    default: 953369ad-d9b5-48b3-b90e-d803b2bca3bb

  DP_subnet:
    type: string
    description: Subnet used by the server
    default: 963fe538-eb3b-47d5-b825-f09d8999d428

  security_group:
    type: string
    description: Subnet used by the server
    default: cfd7a912-4877-4079-88bb-279c5cdec623


resources:
  FE-Web:
    type: OS::Nova::Server
    properties:
      networks:
        - port: {get_resource: FE-MGMT-Port}
      name: FE-Web
      flavor: m1.small
      image: c9e36a45-eb03-422a-afe5-3a1361764ca0
      key_name: dadndrushko
      user_data: { get_file: fe_init.sh }
      user_data_format: RAW


  App:
    type: OS::Nova::Server
    properties: 
      networks:
        - port: {get_resource: App-MGMT-Port}
      name: App
      flavor: m1.small
      image: c9e36a45-eb03-422a-afe5-3a1361764ca0
      key_name: dadndrushko
      user_data: { get_file: app_init.sh }
      user_data_format: RAW

  DB:
    type: OS::Nova::Server
    properties:
      networks:
        - port: {get_resource: DB-MGMT-Port}
      name: DB
      flavor: m1.small
      image: c9e36a45-eb03-422a-afe5-3a1361764ca0
      key_name: dadndrushko
      user_data: { get_file: db_init.sh }
      user_data_format: RAW


  FE-MGMT-Port:
    type: OS::Neutron::Port
    properties:
      name: "FE-MGMT-Port"
      network_id: {get_param: Management_net}
      fixed_ips: [{"subnet": "953369ad-d9b5-48b3-b90e-d803b2bca3bb", "ip_address": 10.10.6.15}]

  App-MGMT-Port:
    type: OS::Neutron::Port
    properties:
      name: "FE-MGMT-Port"
      network_id: {get_param: Management_net}
      fixed_ips: [{"subnet": "953369ad-d9b5-48b3-b90e-d803b2bca3bb", "ip_address": 10.10.6.20}]

  DB-MGMT-Port:
    type: OS::Neutron::Port
    properties:
      name: "FE-MGMT-Port"
      network_id: {get_param: Management_net}
      fixed_ips: [{"subnet": "953369ad-d9b5-48b3-b90e-d803b2bca3bb", "ip_address": 10.10.6.30}]

  floating_ip:
    type: "OS::Neutron::FloatingIP"
    properties:
      floating_network_id: "external-net2"
      port_id: {get_resource: "FE-MGMT-Port"}